<!doctype html>
<html>
    <head>
        <title>500 Not Found</title>
    </head>
    
    <body>
        <h1>500 Not Found</h1>
        <hr>
        <small>Frejalogin <%= moduleversion %> running on Node <%= nodeversion %></small>
    </body>
</html>